In [1]:
!rm Murder.sqlite

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("clean_murder_data.csv", dtype=object)

In [4]:
state_data = pd.read_csv("state_db.csv", dtype=object)

In [5]:
state_data.head()

,State,Abbreviation,TotalMurders,TotalUnsolved,PercentUnsolved,TotalSolved,PercentSolved
0,Alabama,AL,15687,3350,21.4,12337,78.6
1,Alaska,AK,1952,362,18.5,1590,81.5
2,Arizona,AZ,14482,4065,28.1,10417,71.9
3,Arkansas,AR,8081,1217,15.1,6864,84.9
4,California,CA,114621,41459,36.2,73162,63.8

In [6]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Integer, String, Float
Base = declarative_base()

In [7]:
# Create a class for data based on State
class state(Base):
    __tablename__ = "state_db"
    id = Column(Integer, primary_key=True)
    State = Column(String(100))
    Abbreviation = Column(String(100))
    TotalMurders = Column(Float(25))
    TotalUnsolved = Column(Float(25))
    PercentUnsolved = Column(Float(25))
    TotalSolved = Column(Float(25))
    PercentSolved = Column(Float(25))  
    
    def __repr__(self):
        return f"station_id={self.state_db}, name={self.name}"

In [10]:
data.columns

Index(['CaseID', 'CNTYFIPS', 'Ori', 'State', 'Agency', 'Agentype', 'Source',
       'Solved', 'Year', 'StateName', 'Month', 'Incident', 'ActionType',
       'Homicide', 'Situation', 'VicAge', 'VicSex', 'VicRace', 'VicEthnic',
       'OffAge', 'OffSex', 'OffRace', 'OffEthnic', 'Weapon', 'Relationship',
       'Circumstance', 'Subcircum', 'VicCount', 'OffCount', 'FileDate',
       'fstate', 'MSA'],
      dtype='object')

In [9]:
# Create a class for FBI data
class fbi(Base):
    __tablename__ = "fbi_db"
    id = Column(Integer, primary_key=True)
    CaseID = Column(String(100))
    CNTYFIPS = Column(String(25))
    Ori = Column(String(25))
    State = Column(String(25))
    Agency = Column(String(25))
    Agencytype = Column(String(25))
    Source = Column(String(25))
    Solved = Column(String(25))
    Year = Column(Integer())
    StateName = Column(String(25))
    Month = Column(String(25))
    Incident = Column(String(25))
    ActionType = Column(String(25))
    Homicide = Column(String(25))
    Situation = Column(String(25))
    VicAge = Column(Integer())
    VicSex = Column(String(25))
    VicRace = Column(String(25))
    VicEthnic = Column(String(25))
    OffAge = Column(Integer())
    OffSex = Column(String(25))
    OffRace = Column(String(25))
    OffEthnic = Column(String(25))
    Weapon = Column(String(25))
    Relationship = Column(String(25))
    Circumstance = Column(String(25))
    Subcircum = Column(String(25))
    VicCount = Column(Integer())
    OffCount = Column(Integer())
    FileDate = Column(String(25))
    fstate = Column(String(25))
    MSA = Column(String(25))
   
    
    def __repr__(self):
        return f"station_id={self.fbi_db}, name={self.name}"

In [11]:
from sqlalchemy import create_engine, MetaData
engine = create_engine('sqlite:///Murder.sqlite')
conn=engine.connect()
Base.metadata.create_all(engine)

In [12]:
engine.table_names()

['fbi_db', 'state_db']

In [13]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [14]:
state_data = state_data.to_dict(orient='records')
fbi_data = data.to_dict(orient='records')

In [15]:
metadata = MetaData(bind=engine)

In [16]:
import sqlalchemy
state_table = sqlalchemy.Table('state_db', metadata, autoload=True)
fbi_table = sqlalchemy.Table('fbi_db', metadata, autoload=True)

In [17]:
#Run to clear data
conn.execute(state_table.delete())
conn.execute(fbi_table.delete())

In [18]:
conn.execute(state_table.insert(), state_data)
conn.execute(fbi_table.insert(), fbi_data)

In [19]:
conn.execute('SELECT * FROM fbi_db').first()

(1, '197601001AKASP00', 'Juneau, AK', 'AL00102', 'Alabama', 'Birmingham', None, 'FBI', 'Yes', 1976, 'ALA', 'January', '1', 'Normal update', 'Murder and non-negligent manslaughter', 'Single victim/single offender', 65, 'Male', 'Black', 'Unknown or not reported', 67, 'Male', 'Black', 'Unknown or not reported', 'Shotgun', 'Acquaintance', 'Felon killed by private citizen', 'Felon killed in commission of a crime', 0, 0, '30180', 'Alabama', 'Birmingham-Hoover, AL')