## Messing with data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('clean_murder_data.csv')
df = pd.DataFrame(data)

/Users/bennyfish/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(df.head())

,ID,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,StateName,...,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,fstate,MSA
0,197601001AKASP00,"Juneau, AK",AKASP00,Alaska,State Troopers,Primary state LE,FBI,Yes,1976,ALASKA,...,Unknown or not reported,Knife or cutting instrument,Husband,Other arguments,NaN,0,0,30180,Alaska,Rural Alaska
1,197601001AL00102,"Jefferson, AL",AL00102,Alabama,Birmingham,Municipal police,FBI,Yes,1976,ALA,...,Unknown or not reported,Shotgun,Acquaintance,Felon killed by private citizen,Felon killed in commission of a crime,0,0,30180,Alabama,"Birmingham-Hoover, AL"
2,197601001AL00104,"Jefferson, AL",AL00104,Alabama,Fairfield,Municipal police,FBI,Yes,1976,ALA,...,Unknown or not reported,Shotgun,Wife,Other,NaN,0,0,30180,Alabama,"Birmingham-Hoover, AL"
3,197601001AL00106,"Jefferson, AL",AL00106,Alabama,Leeds,Municipal police,FBI,Yes,1976,ALA,...,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,NaN,0,0,30180,Alabama,"Birmingham-Hoover, AL"
4,197601001AL00201,"Mobile, AL",AL00201,Alabama,Mobile,Municipal police,FBI,Yes,1976,ALA,...,Unknown or not reported,Strangulation - hanging,Acquaintance,Circumstances undetermined,NaN,0,0,30180,Alabama,"Mobile, AL"

In [4]:
state_df = df.groupby('State')['ID'].count()
print(state_df.nlargest())

State
California    114621
Texas          72529
New York       57806
Florida        43459
Michigan       33404
Name: ID, dtype: int64

In [5]:
year_df = df.groupby(['Year','State'])['ID'].count()
print(year_df.head())

Year  State
1976  Alabama        504
      Alaska          47
      Arizona        169
      Arkansas       180
      California    2372
Name: ID, dtype: int64

In [6]:
weapon_df = df.groupby('Weapon')['ID'].count()
print(weapon_df.nlargest(20))

Weapon
Handgun - pistol, revolver, etc         370146
Knife or cutting instrument             112692
Firearm, type not stated                 57238
Personal weapons, includes beating       43819
Shotgun                                  38196
Other or type unknown                    37552
Blunt object - hammer, club, etc         34176
Rifle                                    28626
Strangulation - hanging                   9800
Fire                                      7453
Asphyxiation - includes death by gas      4597
Other gun                                 2680
Narcotics or drugs, sleeping pills        1979
Drowning                                  1461
Explosives                                 602
Poison - does not include gas              521
Pushed or thrown out window                247
Name: ID, dtype: int64

In [7]:
# Number of unsolved homicides by state since 1976
unsolved_df = df.loc[df['Solved'] == 'No']
unsolved_df = unsolved_df.groupby('State')['ID'].count()
print(unsolved_df.nlargest())

State
California    41459
New York      26283
Texas         16895
Florida       12196
Illinois      12169
Name: ID, dtype: int64

In [8]:
# Percent of unsolved homicides by state since 1976
percent_df = (unsolved_df/state_df)*100
print(percent_df)

State
Alabama                 21.355262
Alaska                  18.545082
Arizona                 28.069327
Arkansas                15.060017
California              36.170510
Colorado                20.214692
Connecticut             32.485111
Delaware                20.041465
District of Columbia    62.443659
Florida                 28.063232
Georgia                 26.756328
Hawaii                  23.100304
Idaho                    9.720280
Illinois                37.231146
Indiana                 31.965571
Iowa                    14.265734
Kansas                  19.161206
Kentucky                21.579756
Louisiana               29.586513
Maine                   11.036468
Maryland                40.470120
Massachusetts           35.628276
Michigan                32.624835
Minnesota               18.001295
Mississippi             15.421655
Missouri                36.119856
Montana                  8.385482
Nebraska                16.983446
Nevada                  31.153725
New Hampshire           16.099476
New Jersey              35.651493
New Mexico              25.295556
New York                45.467599
North Carolina          19.413140
North Dakota             7.046070
Ohio                    27.638686
Oklahoma                16.615027
Oregon                  17.997518
Pennsylvania            24.734908
Rhodes Island           31.707317
South Carolina           9.778096
South Dakota             8.022388
Tennessee               15.683800
Texas                   23.294131
Utah                    14.407502
Vermont                 11.324786
Virginia                20.653716
Washington              21.794439
West Virginia           10.185185
Wisconsin               17.034398
Wyoming                 10.193548
Name: ID, dtype: float64